<template>
  <div class="container mx-auto my-10">
    <div>
      <nuxt-link to="/"><logo /></nuxt-link>

      <h1 class="text-6xl mt-10 mb-3">{{ post.title.rendered }}</h1>

      <span v-html="post.content.rendered" />
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ app, params }) {
    return { post: await app.$wp.posts().id(params.id) }
  },
  head() {
    const yoastData = []

    this.post.yoast_meta.forEach((meta) => {
      yoastData.push({
        ...(meta.name && { name: meta.name }),
        ...(meta.property && { property: meta.property }),
        ...(meta.content && { content: meta.content }),
      })
    })

    return {
      title: this.post.yoast_title,
      meta: yoastData,
    }
  },
}
</script>

<style lang="scss">
h3 {
  @apply text-xl;
  @apply mt-3;
  @apply font-bold;
}
</style>
