<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="mt-20 text-6xl">WordPress to JAMstack</h1>
      <h2 class="mb-10 text-2xl">Our posts</h2>
      <ul>
        <li v-for="post in posts" :key="post.id">
          <nuxt-link :to="`posts/${post.id}` || '#!'" class="underline">{{
            post.title.rendered
          }}</nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ app }) {
    return { posts: await app.$wp.posts().perPage(10) }
  },
}
</script>

<style>
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
</style>
